.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.no-product-cont {
  width: 70%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-image {
  width: 350px;
}
.no-head {
  color: #12022f;
  font-size: 35px;
  font-family: 'Roboto';
  text-align: center;
}
.no-para {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
  text-align: center;
}

@media screen and (max-width: 768px) {
  .no-image {
    width: 150px;
  }
  .no-product-cont {
    width: 100%;
  }
  .no-head {
    font-size: 25px;
  }
  .no-para {
    font-size: 12px;
  }
}
